<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
.nav-item{
    margin-left: 50px;
   
}
.navbar-custom{
    background-color: #333;
}
.navbar{
    background-color: #333;
}
.fa-sharp{
    color: yellow;
}
.text{
    color: white;
}
.fa-brands{
    color: white;
}
    </style>
</head>
<body>
    <!--navbar page-->
    <div class="container-fluid navbar-custom">
        <div class="row text-center text-md-left">
            <!-- Location -->
            <div class="col-12 col-md-3 mb-3 d-flex align-items-center justify-content-center justify-content-md-start">
                <i class="fas fa-location-dot fa-icon mr-2 fa-sharp "></i>
                <span class="text"><%-data.address%></span>
            </div>
            <!-- Phone -->
            <div class="col-12 col-md-3 mb-3 d-flex align-items-center justify-content-center justify-content-md-start">
                <i class="fas fa-phone-alt fa-icon mr-2 fa-sharp"></i>
                <span class="text">+91 <%-data.phone_number%></span>
            </div>
            <!-- Working Hours -->
            <div class="col-12 col-md-3 mb-3 d-flex align-items-center justify-content-center justify-content-md-start">
                <i class="fas fa-clock fa-icon mr-2 fa-sharp"></i>
                <span class="text">Mon-Sat <%-data.business_hours%></span>
            </div>
            <!-- Social Media -->
            <div class="col-12 col-md-3 mb-3 d-flex align-items-center justify-content-center justify-content-md-start">
                <a href="<%-data.linkedin_link%>" class="mr-3"><i class="fab fa-linkedin fa-icon fa-brands"></i></a>
                <a href="<%-data.facebook_link%>" class="mr-3"><i class="fab fa-facebook fa-icon fa-brands"></i></a>
                <a href="<%-data.whatsapp_link%>"><i class="fab fa-whatsapp fa-icon fa-brands"></i></a>
                <span class="text ml-3">Profile</span>
            </div>
        </div>
    </div>
    <!--navbar2-->
    <nav class="navbar navbar-expand-lg navbar-light text-light bg-dark">
        <a class="navbar-brand" href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKAB_0rQxHkc4RfH5pcj1xYwhrkeupSJjYWA&s" alt="" width="50px" height="50px" style="border-radius: 50%;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto  " >
            <li class="nav-item active">
              <a class="nav-link text-warning" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-warning" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-warning" href="/servise">Servise</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-warning" href="/blog">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-warning" href="/contag">Contag Us</a>
              </li>
            
             
           
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 text-warning" type="submit">Search</button>
          </form>
        </div>
      </nav>
</body>
</html>